pre, code { background-color: #f8f9fa !important; }

$green: #008000;
$blue: #0000FF;
$red: #BA2121;

/* Comment */                   .highlight .c { color: #408080; font-style: italic }
/* Error */                     .highlight .err { border: 1px solid #FF0000 }
/* Keyword */                   .highlight .k { color: $green; font-weight: bold }
/* Operator */                  .highlight .o { color: #666666 }
/* Comment.Multiline */         .highlight .cm { color: #408080; font-style: italic }
/* Comment.Preproc */           .highlight .cp { color: #BC7A00 }
/* Comment.Single */            .highlight .c1 { color: #408080; font-style: italic }
/* Comment.Special */           .highlight .cs { color: #408080; font-style: italic }
/* Generic.Deleted */           .highlight .gd { color: #A00000 }
/* Generic.Emph */              .highlight .ge { font-style: italic }
/* Generic.Error */             .highlight .gr { color: #FF0000 }
/* Generic.Heading */           .highlight .gh { color: #000080; font-weight: bold }
/* Generic.Inserted */          .highlight .gi { color: #00A000 }
/* Generic.Output */            .highlight .go { color: #808080 }
/* Generic.Prompt */            .highlight .gp { color: #000080; font-weight: bold }
/* Generic.Strong */            .highlight .gs { font-weight: bold }
/* Generic.Subheading */        .highlight .gu { color: #800080; font-weight: bold }
/* Generic.Traceback */         .highlight .gt { color: #0040D0 }
/* Keyword.Constant */          .highlight .kc { color: $green; font-weight: bold }
/* Keyword.Declaration */       .highlight .kd { color: $green; font-weight: bold }
/* Keyword.Namespace */         .highlight .kn { color: $green; font-weight: bold }
/* Keyword.Pseudo */            .highlight .kp { color: $green }
/* Keyword.Reserved */          .highlight .kr { color: $green; font-weight: bold }
/* Keyword.Type */              .highlight .kt { color: #B00040 }
/* Literal.Number */            .highlight .m { color: #666666 }
/* Literal.String */            .highlight .s { color: $red }
/* Name.Attribute */            .highlight .na { color: #7D9029 }
/* Name.Builtin */              .highlight .nb { color: $green }
/* Name.Class */                .highlight .nc { color: $blue; font-weight: bold }
/* Name.Constant */             .highlight .no { color: #880000 }
/* Name.Decorator */            .highlight .nd { color: #AA22FF }
/* Name.Entity */               .highlight .ni { color: #999999; font-weight: bold }
/* Name.Exception */            .highlight .ne { color: #D2413A; font-weight: bold }
/* Name.Function */             .highlight .nf { color: $blue }
/* Name.Label */                .highlight .nl { color: #A0A000 }
/* Name.Namespace */            .highlight .nn { color: $blue; font-weight: bold }
/* Name.Tag */                  .highlight .nt { color: $green; font-weight: bold }
/* Name.Variable */             .highlight .nv { color: #19177C }
/* Operator.Word */             .highlight .ow { color: #AA22FF; font-weight: bold }
/* Text.Whitespace */           .highlight .w { color: #bbbbbb }
/* Literal.Number.Float */      .highlight .mf { color: #666666 }
/* Literal.Number.Hex */        .highlight .mh { color: #666666 }
/* Literal.Number.Integer */    .highlight .mi { color: #666666 }
/* Literal.Number.Oct */        .highlight .mo { color: #666666 }
/* Literal.String.Backtick */   .highlight .sb { color: $red }
/* Literal.String.Char */       .highlight .sc { color: $red }
/* Literal.String.Doc */        .highlight .sd { color: $red; font-style: italic }
/* Literal.String.Double */     .highlight .s2 { color: $red }
/* Literal.String.Escape */     .highlight .se { color: #BB6622; font-weight: bold }
/* Literal.String.Heredoc */    .highlight .sh { color: $red }
/* Literal.String.Interpol */   .highlight .si { color: #BB6688; font-weight: bold }
/* Literal.String.Other */      .highlight .sx { color: $green }
/* Literal.String.Regex */      .highlight .sr { color: #BB6688 }
/* Literal.String.Single */     .highlight .s1 { color: $red }
/* Literal.String.Symbol */     .highlight .ss { color: #19177C }
/* Name.Builtin.Pseudo */       .highlight .bp { color: $green }
/* Name.Variable.Class */       .highlight .vc { color: #19177C }
/* Name.Variable.Global */      .highlight .vg { color: #19177C }
/* Name.Variable.Instance */    .highlight .vi { color: #19177C }
/* Literal.Number.Integer.Long */.highlight .il { color: #666666 }


